
header {
  background-color: #222;
  padding: 1px 0px 10px 0px;
  text-align: center;
}

header a {
  border-radius: 290486px;
  color: white;
  font-size: 0.6em;
  letter-spacing: 0.2em;
  padding: 1em 2em;
  text-decoration: none;
  transition: none 200ms ease-out;
  transition-property: color, background;
}

header a:hover {
  background:  #207ea7;
  color: white;
}

header h1 {
  color: white;
  font-size: 6em;
  font-weight: 300;
}
